[Unit]
Description=Start FluidSynth on system boot

[Service]
Type=simple
ExecStart=/usr/bin/fluidsynth -v -a alsa -m alsa_seq -l -i /usr/share/sounds/sf2/FluidR3_GM.sf2 -s -o audio.alsa.device=hw:0
User=root
Restart=always

[Install]
WantedBy=multi-user.target
