[Unit]
Description=FluidSynth management script

[Service]
Type=simple
ExecStart=/home/pieter/portsynth/python/venv/bin/python /home/pieter/portsynth/python/manage_fluidsynth.py
User=root
Restart=always

[Install]
WantedBy=multi-user.target
